
body {
	background-color: #eee !important;	
}

form {
	border-radius: 5%;
	.form-header {
		text-align: center;
		margin-bottom: 8%;
	}
}

.container {
	position:relative;
	height:100vh;
}

.wrapper {	
	position:absolute;
	left:50%;
	top:30%;
	transform: translate(-50%, -30%);
	min-width: 340px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

	.checkbox {
	  margin-bottom: 5%;
		margin-top: 0px;
		font-weight: normal;
	}

	.msg-placeholder {
		height: 1.6em;
	}

	.form-control {
	  position: relative;
	  font-size: 1.2em;
	  height: auto;
	  padding: 0.6em;;

		&:focus {
		  z-index: 2;
		}
	}
}
