<div class="container">
  <div class="wrapper">
    <form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
        <h2 class="form-header">Log in</h2>
        <fieldset>
            <div class="alert alert-danger"
            *ngIf="authFailed">Invalid login or password.</div>
              
            <div class="input-group" [class.has-error]="email.errors && (email.dirty || email.touched)">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control" 
                  name="email" [(ngModel)]="credentials.email" 
                  #email="ngModel" placeholder="Email"
                  [pattern]="emailConstraint" required>
            </div>
            <div class="msg-placeholder">
              <div *ngIf="email.errors && (email.dirty || email.touched)" 
                class="text-danger"> Invalid email.
              </div>
            </div>

            <div class="input-group" [class.has-error]="password.errors && (password.dirty || password.touched)">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input  type="password" id="password" class="form-control"
                  name="password" [(ngModel)]="credentials.password"
                  #password="ngModel" placeholder="Password" 
                  [pattern]="passwordConstraint" required
                  >
            </div>
            <div class="msg-placeholder">
              <div *ngIf="password.errors && (password.dirty || password.touched)" 
                class="text-danger"> Invalid password.
              </div>
            </div>

            <label class="checkbox" for="remember">
              <input type="checkbox" id="remember" name="remember" 
                  [(ngModel)]="rememberSession">
              Remember me
            </label>

            <button type="submit" class="btn btn-lg btn-primary btn-block"
              [disabled]="!loginForm.valid" >Login</button>

        </fieldset> 
    </form>
  </div>
</div>

