body {
    background-color: #eee;
}
.container{
    position:relative;
    height: 100vh;

    .wellcome {
        position:absolute;
        left:50%;
        top:30%;
        transform: translate(-50%, -30%);
        padding: 5%;
        
        button {
            margin-top: 1em;
        }
        * {
            text-align: center;
        }
    }
}
