<div class="container">
    <div class="wellcome alert alert-success">
        <h1>Wellcome</h1>
        <p>Login successful!</p>
        <button typpe="button" class="btn btn-sm btn-primary btn-block" (click)="logout()">Logout</button>

    </div>
</div>